.contactPage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 6rem;
 
    .map-sec{
        width: 97%;
        
        padding:1rem;
        background-color: #191D2B;
      
    iframe{
        width: 100%;
        height: 100%;
        
      
    }
     
       }
    .contact-sec{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        

    }
}

.contactItem{
    width: 100%;
    &:not(:last-child){
        margin-bottom: 1rem;
    }
   
    
    .contact{
       display: flex;
       align-items: center;
        padding:3rem 0;
        background-color: #191D2B;
        .right-Item{
          h6{
              font-size: 1.4rem;
              font-weight: 500;
          }
        }
        img{
            padding: 1rem;
            border:1px solid #2e344e;
            margin-left: 2rem;
            width: 16%;
            
        }
    }
}
.title{
    margin-bottom: 5rem;
}

