.HomePage{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    .head-text{
        color:white;
        text-align: center;
        font-size: 2.6rem;
    span{
        color:aliceblue;
        font-size: 3rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
.h-sub-text{
    text-align: start;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
   
    .icon-holder{
        margin-right: 1rem;
        transition: 1s all ease-in-out;
        .icon{
            font-size: 2.4rem;
            color:#a4acc4;
        }
       .fb:hover{
            transition: 1s ease-in-out;
           color:blue;
       }
       .in:hover{
        transition: 1s ease-in-out;
        color:red;
       }
       .Lk:hover{
        transition: 1s ease-in-out;
        color:rgb(110, 87, 87);
       }
    }
}


}