.App{
    .sidebar{
        width: 16%;
        height: 100vh;
        position: fixed;
        background-color: #191D2B;
    }

    .main-content{
        width: 84%;
        min-height: 100vh;
        margin-left: 16%;
        background-color: #10121b;
        display: grid;
        position: relative;
        
            .inner-content{
                margin: 5rem 15rem;
         
        }
    }
}